h3, h4 {
    margin: 0;
    padding: 0;
}

.milestones-ajust {
    background-color: rgb(187, 230, 163);
    border-radius: 25px !important;
    padding: 0px !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.milestones-ajust mat-icon {
    margin: 8px;
}

.group-moviment {
    margin-left: 30px;
}

i {
    margin-top: 7px !important;
}