<h1 mat-dialog-title>Configurações</h1>

<div mat-dialog-content>
    <form [formGroup]="formConfig" class="form-center">

        <mat-slide-toggle color="primary" formControlName="atualizacaoAutomatica" class="item">Atualização automática</mat-slide-toggle>

        <mat-slide-toggle color="primary" formControlName="horarioComercialAtualizacao" class="item">Horário comercial de atualização</mat-slide-toggle>

        <div class="item slider">
            <mat-label>Atualização a cada: {{labelIntervaloAtualizacao}}h</mat-label>
            <mat-slider color="primary" [min]="1" [max]="24" [step]="1" formControlName="intervaloAtualizacao" (input)="updateLabelAtualizacaoAutomatica($event)"></mat-slider>
        </div>

        <mat-form-field appearance="outline" class="item">
            <mat-select formControlName="tipoOrdenacaoPadrao">
                <mat-option [value]="0">Data de postagem</mat-option>
                <mat-option [value]="1">Data de entrega</mat-option>
                <mat-option [value]="2">Local de Origem</mat-option>
                <mat-option [value]="3">Local de Destino</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="item">
        <button mat-raised-button (click)="closeDialog()" class="btn-dialog-position-cancel highlight-button-white">Cancelar</button>
        <button mat-raised-button (click)="save()" class="btn-dialog-position-ok highlight-button-white">Salvar</button>
    </div>
</div>