.spinner-container{
    width: calc(100% - 10px);
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
}

.btn-edit, .btn-delete {
    margin-left: 5px;
    margin-right: 5px;
}

.column-select {
    background-color: rgba(143, 133, 231, 0.185);
}

.etiquetas-content {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}