<h1 mat-dialog-title>Adicionar Etiqueta</h1>

<div mat-dialog-content class="content-page">
    <form [formGroup]="formAdionarEtiqueta" class="form-center">
        <mat-form-field appearance="outline">
            <mat-label>Etiquetas</mat-label>
            <mat-select formControlName="etiqueta" [(value)]="etiquetaSelecionada">
                <mat-select-trigger>
                    <div class="cor-content">
                        <mat-icon [ngStyle]="{'color': etiquetaSelecionada?.cor}">local_offer</mat-icon>
                        <h4>{{etiquetaSelecionada?.nome}}</h4>
                    </div>
                  </mat-select-trigger>
                <mat-option [value]="">Nenhuma</mat-option>
                <mat-option *ngFor="let e of etiquetas$ | async" [value]="e">
                    <div class="cor-content">
                        <mat-icon [ngStyle]="{'color': e.cor}">local_offer</mat-icon>
                        <h4>{{e.nome}}</h4>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div>
        <button mat-raised-button [mat-dialog-close]="formAdionarEtiqueta.value.etiqueta" class="btn-dialog-position-ok btn-filter highlight-button-white">Criar</button>
        <button mat-raised-button mat-dialog-close class="btn-dialog-position-cancel btn-filter highlight-button-white">Cancelar</button>
    </div>
</div>