<div class="content-alight-center">
    <form [formGroup]="formLogin" *ngIf="!recover_password" class="form-center  card-white">
        <h1 class="title">Login</h1>

        <mat-progress-bar mode="indeterminate" *ngIf="buscandoUsuario"></mat-progress-bar>

        <mat-form-field appearance="outline" class="input-content">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" type="text" placeholder="user@email.com">
            
            <mat-error *ngIf="formLogin.controls['usuario'].hasError('required')">Digite o usuário</mat-error>
            <mat-error *ngIf="formLogin.controls['usuario'].hasError('userIncorrect')">Usuario ou senha incorreto(s)</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-content">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha" [type]="hide_senha ? 'password' : 'text'" placeholder="******">
            <button mat-icon-button matSuffix (click)="hide_senha = !hide_senha">
                <mat-icon>{{hide_senha ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="formLogin.controls['senha'].hasError('required')">Digite a senha</mat-error>
            <mat-error *ngIf="formLogin.controls['senha'].hasError('passwordIncorrect')">Usuario ou senha incorreto(s)</mat-error>
        </mat-form-field>

        <button type="submit" (click)="submitForm()" mat-raised-button color="primary" class="highlight-button-blue">Login</button>
        <a [routerLink]="['/cadusr']">novo usuário</a>
        <a (click)="recoverPassword()">recuperar senha</a>
    </form>


    <form [formGroup]="formLogin" (ngSubmit)="submitFormRecoverPassword()" *ngIf="recover_password" class="form-center card-white">
        <h1 class="title">Recuperar senha</h1>

        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" type="text" placeholder="user@email.com">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="highlight-button-blue">Enviar</button>
        <a (click)="returnLogin()">voltar para o login</a>
    </form>
</div>