<div class="container">
    <div class="content-page card-white">
        <h1 class="title">Registro de Movimentação</h1>

        <div class="info-encomenda" *ngIf="!carregandoLista && !carregandoPacote">
            <h3><b>Código da Encomenda:</b> {{pacote?.codigo_operador_logistico}}</h3>
            <h3><b>Código da Status:</b> {{pacote?.status}}</h3>
            <h3><b>Local de Origem:</b> {{pacote?.local_origem}}</h3>
            <h3><b>Local de Destino:</b> {{pacote?.local_destino}}</h3>
        </div>

        <div *ngIf="carregandoLista || carregandoPacote" class="spiner content-alight-center">
            <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="!carregandoLista && !carregandoPacote">
            <app-movimentacao-pacote [registroMovimentacoes$]="registroMovimentacoes$" ></app-movimentacao-pacote>
        </div>
    </div>
</div>