.page {
    background-color: var(--color-page);
    padding: 20px 30px 30px 30px;
    min-width: 600px;
}

h3 {
    padding: 0;
    margin: 0px 0px 0px 10px;
    font-weight: 500;
}

h4 {
    padding: 0;
    margin: 0px 0px 0px 30px;
}


.item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spiner {
    margin-top: 40px;
}