<h1 mat-dialog-title>Filtros</h1>

<div mat-dialog-content class="content-page">
    <form [formGroup]="formFiltro" class="form-center" [ngSwitch]="tipoFiltro">

        <form-input-text *ngSwitchCase="tipoBuscaCodigo()" 
            [label]="'Código da encomenda'"
            [custonFormControlName]="'buscaCodigo'"
            [placeholder]="'AA123456785BR'"
        ></form-input-text>

        <form-input-text *ngSwitchCase="tipoBuscaOrigem()" 
            [label]="'Local de origem'"
            [custonFormControlName]="'buscaOrigem'"
            [placeholder]="'Rio de Janeiro-RJ'"
        ></form-input-text>

        <form-input-text *ngSwitchCase="tipoBuscaDestino()" 
            [label]="'Local de destino'"
            [custonFormControlName]="'buscaDestino'"
            [placeholder]="'São Paulo-SP'"
        ></form-input-text>

        <form-select-etiqueta *ngSwitchCase="tipoBuscaEtiqueta()"
            [label]="'Etiqueta'"
            [custonFormControlName]="'buscaEtiqueta'"
            [etiquetas$]="etiquetas$">
        </form-select-etiqueta>

        <form-select-operador-logistico *ngSwitchCase="tipoOperadorLogistico()"
            [label]="'Transportadora'"
            [custonFormControlName]="'buscaOperadorLogistico'"
            [operadoresLogisticos$]="operadoresLogisticos$"
        ></form-select-operador-logistico>

        <form-input-date-interval *ngSwitchCase="tipoBuscaDataPostagem()"
            [label]="'Intervalo de Postagem'"
            [placeholder]="'dia/mês/ano – dia/mês/ano'"
            [placeholderInicio]="'Data de inicio'"
            [placeholderFim]="'Data de fim'"
            [custonFormControlNameInicio]="'buscaPeriodoInicio'"
            [custonFormControlNameFim]="'buscaPeriodoFim'"
        ></form-input-date-interval>

        <form-input-date-interval *ngSwitchCase="tipoBuscaDataEntrega()"
            [label]="'Intervalo de Entrega'"
            [placeholder]="'dia/mês/ano – dia/mês/ano'"
            [placeholderInicio]="'Data de inicio'"
            [placeholderFim]="'Data de fim'"
            [custonFormControlNameInicio]="'buscaPeriodoInicio'"
            [custonFormControlNameFim]="'buscaPeriodoFim'"
        ></form-input-date-interval>
    </form>

    <div>
        <button mat-raised-button [mat-dialog-close]="formFiltro.value" class="btn-dialog-position-ok btn-filter highlight-button-white">Buscar</button>
        <button mat-raised-button mat-dialog-close class="btn-dialog-position-cancel btn-filter highlight-button-white">Cancelar</button>
    </div>
</div>