.content-page {
    min-width: 400px;
}

.btn-filter {
    margin-top: 25px;
    margin-bottom: 10px;
    min-width: 100px;
}

.cor-content{
    display: flex;
    align-items: center;
}

.cor-content h4, .cor-content mat-icon {
    margin: 0 0 0 10px;
    padding: 0;
}