<ng-container [formGroup]="form">
    <mat-form-field appearance="outline">

        <mat-label>{{label}}</mat-label>
        <mat-date-range-input
            [formGroup]="form"
            [rangePicker]="campaignOnePicker"
            [comparisonStart]="auxDate.value.inicio"
            [comparisonEnd]="auxDate.value.fim">

            <input matStartDate placeholder="{{placeholderInicio}}" formControlName="{{custonFormControlNameInicio}}">
            <input matEndDate placeholder="{{placeholderFim}}" formControlName="{{custonFormControlNameFim}}">
        </mat-date-range-input>
        <mat-hint>{{placeholder}}</mat-hint>

        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>

      </mat-form-field>
</ng-container>