.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*padding: 30px;*/
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-page {
    box-sizing: border-box;
    height: 100%;
    width: 800px;
    background-color: var(--color-page);
    padding: 30px 40px;
    overflow: scroll;
}

.info-encomenda{
    box-sizing: border-box;
    background-color: rgb(228, 221, 212);
    border-radius: 10px;
    padding: 15px;
}

.movimentacao {
    margin-top: 25px;
    margin-bottom: 25px;
}

.spiner {
    margin-top: 25px;
}

.group-moviment {
    margin-left: 40px;
}

