<div class="content-alight-center">
    <div class="page card-white">
        <h1 class="title">Transportadoras</h1>

        <div *ngIf="carregandoLista" class="spiner content-alight-center">
            <mat-spinner></mat-spinner>
        </div>
        
        <mat-list *ngIf="!carregandoLista">
            <div *ngFor="let t of trasportadoras">
                <div class="item">
                    <h4><b>Nome Fantasia:</b> {{t.nome_fantasia}}</h4>
                    <h4><b>Razão Social:</b> {{t.razao_social}}</h4>
                    <h4><b>CNPJ:</b> {{t.documento}}</h4>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </div>
</div>